/* tag selectors */
* {
    box-sizing: border-box;
    margin: auto;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #212121 ;
    font-family: 'montserrat', sans-serif;
    margin: 0;
    min-height: 100%;
}

footer {
    background-color: #403E41;
}

h1, h2 {
    color: #FBD666;
}

header {
    display: block;
    margin-bottom: 2.25rem;
}

hr {
    border: none;
    border-top: 0.9rem dotted #403E41;
    background-color: #2C2A2F;
    clear: both;
    margin: auto;
    min-width: 4rem;
    width: 9rem;
}

p, li{
    color: #F6F6F4;
    font-size: 1rem;
    margin-top: 0.2rem;
}

ul {
    margin: 0 0 0.5rem 0;
}

/* class selectors */

.coding-language-td {
    width: 15%;
}

.coding-language-td p {
    margin-right: 2.5rem;
    text-align: right;
    width: 90%;
}

.container-main-title {
    font-size: 2rem;
    margin: 0 0 1.8rem 0;
    text-align: center;
}

.div-container {
    margin: 2.8rem 0rem 2.8rem 0rem;
    clear: both;
}

.job-description-cell {
    margin-left: 4%;
    width: 90%;
}
.job-description-cell p, 
.job-description-cell li {
    font-size: 0.8rem;
}

p.job-location {
    font-size: 0.9rem;
    margin: 0.5rem 0 0 0;
}

.job-main-activity-title {
    margin: 0.5rem 0 0 0;
}

.job-period {
    font-size: 0.8rem;
    margin-top: 0.75rem;
    text-align: center;
}

.job-period-col {
    vertical-align: top;
    width: 20%;
}

.job-table {
    width: 90%;
    margin: auto;
}

.job-title {
    color: #B7D6F8;
    font-size: 1.1rem;
    margin: 0.45rem auto;
}

.level-bar {
    display: inline-block;
    height: 0.5rem;
    margin-bottom: 0.08rem;
    width: 10%;
}

.level-text {
    display: inline-block;
    margin-left: 0.45rem;
}

.main {
    background-color: #2C2A2F;
}

.navbar {
    border-bottom: 0.1rem solid #585B5D;
    height: 3.25rem;
    position: fixed;
    width: 100%;
}

.navbar ul {
    background-color: #3E3D3F;
    list-style-type: none;
    min-height: 3.15rem;
    overflow: hidden;
    padding: 0;
}

.navbar li {
    float: right;
}

.navbar li a {
    color: #F6F6F4;
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.71rem 0.6rem;
    text-align: center;
    text-decoration: none;
}

.navbar li a:hover {
    color: #FBD666;
}

.profile-picture {
    display: block;
    margin: auto;
    width: 20%;
}

.project-container {
    background-color: white;
    border: 2px solid #2C2A2F;
    border-radius: 25px;
    float: left;
    height: 20rem;
    margin: 2rem 4%;
    text-align: center;
    width: 42%;
}

.project-description {
    color: #212121;
    font-size: 1.1rem;
    margin-top: 1%;
    width: 90%;

}

.project-image {
    display: block;
    margin: 6% auto 4% auto;
    height: 30%;
}

.project-title {
    font-size: 1.3rem;
}

.second-column-coding-skill {
    line-height: 1rem;
}

.social {
    overflow: auto;
    display: block;
    width: 30%;
}

.social svg{
    color: #bdbdbd;
    float: left;
    margin: 4% 0% 2% 4%;
    width: 20%;
}

/* id selectors */
#advanced-bar {
    background-color: green;
}

#advanced-text {
    color: green;
}

#base-bar {
    background-color: red;
}

#base-text {
    color: red;
}

#coding-skills-table {
    width: 100%;
}

#coding-skills-table tr {
    height: 1.8rem;
}

#credits {
    font-size: 0.7rem;
    padding: 0.5rem 0rem;
    text-align: center;
}

#header-img {
    height: 100%;
    width: 100%;
    margin-top: 3.25rem;
}

#hi {
    font-size: 2.75rem;
    margin-top: 2%;
    text-align: center;
}

#intermediate-bar {
    background-color: darkorange;
}

#intermediate-text {
    color: darkorange;
}

#last-left {
    padding-left: 1rem;
}

#last-right {
    padding-right: 1rem;
}

#my-description {
    font-size: 1.3rem;
    margin: 1.3rem auto;
    text-align: center;
    width: 80%;
}

#my-projects-container{
    overflow: auto;
}

#whoami-container {
    display: block;
    margin-top: 2%;
}



/* media queries */

@media only screen and (min-width: 481px) {
    .container-main-title {
            font-size: 2.8rem;
        }

    .job-title {
        font-size: 1.5rem;
    }

    .job-description-cell p,
    .job-description-cell li {
        font-size: 1rem;
    }

    p.job-location {
        font-size: 1.1rem;
    }

    .job-period {
        font-size: 1.1rem;
    }
    
}

@media only screen and (min-width: 769px) {
    .project-container {
        margin: 0.5% 0 1.5% 4%;
        width: 20%;
    }

    .social {
        overflow: auto;
        display: block;
        width: 20%;
    }
}

@media only screen and (min-width: 1024px) {
    .main {
        margin: 0 10%;
    }

    .navbar {
        width: 80%;
    }

    .project-container {
        height: 24rem;
        margin: 0.5% 0 1.5% 2.4%;
        width: 22%;
    }
}